<div class="card mb-4 shadow-sm">
  <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.imageUrl">
  <div class="card-body">
    <p class="card-text text-center">
      <strong>
        {{ productItem.title }}
      </strong>
    </p>
    <p class="card-text text-center">
      {{ productItem.description | slice: 0:40 }}...
    </p>
    <p class="card-text">
      <strong>
        {{ productItem.price | currency:'USD' }}
      </strong>
      <i *ngIf="addedTowishlist" class="fas fa-heart float-right" (click)=" handleRemoveFromWishlist()"></i>
      <i *ngIf="!addedTowishlist" class="far fa-heart float-right" (click)="handleAddToWishlist()"></i>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" (click)="addTocart()">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
      </div>
    </div>
  </div>
</div>
