<div class="card mb-4 shadow-sm text-center">
  <img class="bd-placeholder-img card-img-top" width="100%" [src]="productItem.imageUrl">
  <div class="card-body">
    <p class="card-text">
      {{ productItem.title }}
    </p>
    <p class="card-text">
      <strong>
        {{ productItem.price | currency:'USD' }}
      </strong>
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" (click)="addTocart()">Add to Cart</button>
        <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
      </div>
    </div>
  </div>
</div>
