/* You can add global styles to this file, and also import other style files */

.cart-item
{
    font-size: small;
}

.filters
{
  font-size: medium;
}

.card, .form-control, .btn
{
  border-radius: 0;
}

.list-group-item:first-child
{
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.list-group-item:last-child
{
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.fa-heart
{
  color: rgb(230, 71, 92);
  cursor: pointer;
}

.input-quantity {
  display: block;
  width: 20%;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 100;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
